.Header{
    height: 80px;
    width: 100%;
    background-color: #96bdb1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}
.Navlink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    font-size: 40px;
    font-weight: bold;


}
.Navlink a{
    text-decoration: none;
    color: cornsilk;
}
.Navlink a[class = 'active']{
    color: #4a7aa1;

}
.Logo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;

}
.User{
    font-size: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.Black{
    background-color: #301ce3;
}
.White{
    background-color: #ced7e7;
}